@import 'flowbite';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ul, ol {
      list-style: revert;
    }

  }

    h1, h2 {
        font-family: revert;
        font-size: revert;
        font-weight: revert;
    }
    @layer base {
    h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}}


@layer base {
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
  }